{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./src",
                    "components": "./src/components",
                    "assets": "./src/assets",
                    "pages": "./src/pages"
                }
            }
        ]
    ]
}
