.wrapper {
    .content-user {
        margin-top: 8px;
    }

    .label {
        font-weight: 500;
        margin-right: 12px;
        width: 95px;
        display: inline-block;
    }

    .label,
    .information {
        font-size: 1.5rem;
    }
}
