.link {
    display: block;
    height: 100%;
    padding: 16px 24px;
    color: black;
    // font-size: 2rem;
}

.active {
    color: blue;
}

.icon {
    padding-left: 36px;
    padding-right: 36px;
}
