a[href] {
    color: unset;
    text-decoration: unset;
}

:root {
    --height-header: 56px;
    --width-feed-content: 625px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

html,
body {
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//Scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

a[href] {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}
